# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [3]:
import pandas as pd
import numpy as np

# Seu código aquiura
MediaTemperatura = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02],
                                 index=['1900', '1920', '1940', '1960', '1980', '2000', '2000'])
MediaTemperatura

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2000    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [ ]:

# seu código aqui - já feito

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [4]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
TemperaturasSeries = pd.Series(dic_temperaturas)
TemperaturasSeries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [5]:
arr = np.random.normal(100, 10, (20,3))


# seu código aqui

array([[ 95.52259172, 102.7520523 ,  95.31399019],
       [102.31608288, 122.81237612,  98.09139912],
       [104.97969304,  92.70520122, 107.66242489],
       [ 85.84528042,  85.51258964,  97.7970061 ],
       [ 91.91891765, 115.02539911,  96.11969955],
       [103.63755918,  95.27064817, 101.00039463],
       [ 88.21193537, 105.83009483, 113.58979419],
       [ 96.07978107, 104.20474633, 101.43535344],
       [ 90.96504144, 101.86101215,  91.21109132],
       [106.30581454, 103.89296754, 104.17939084],
       [102.60225862,  85.16657798, 111.55424261],
       [111.3051454 ,  90.79945718, 101.73528468],
       [ 78.00612832, 105.23006509,  84.57592911],
       [ 87.434956  ,  96.34978809,  94.82758443],
       [105.88797811, 101.19485113, 116.55296476],
       [102.85593658,  82.08375116, 109.09700146],
       [ 97.63446998, 100.02921195, 101.62998326],
       [ 85.6533548 ,  85.89455126,  93.38076186],
       [115.15502649,  68.40167187, 101.41366697],
       [ 90.55847709, 109.81271782, 101.20962287]])

In [23]:
df = pd.DataFrame(arr)
df

             0           1           2
0    95.522592  102.752052   95.313990
1   102.316083  122.812376   98.091399
2   104.979693   92.705201  107.662425
3    85.845280   85.512590   97.797006
4    91.918918  115.025399   96.119700
5   103.637559   95.270648  101.000395
6    88.211935  105.830095  113.589794
7    96.079781  104.204746  101.435353
8    90.965041  101.861012   91.211091
9   106.305815  103.892968  104.179391
10  102.602259   85.166578  111.554243
11  111.305145   90.799457  101.735285
12   78.006128  105.230065   84.575929
13   87.434956   96.349788   94.827584
14  105.887978  101.194851  116.552965
15  102.855937   82.083751  109.097001
16   97.634470  100.029212  101.629983
17   85.653355   85.894551   93.380762
18  115.155026   68.401672  101.413667
19   90.558477  109.812718  101.209623

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [26]:
#seu código aqui
df = df.rename(columns={0: "x1", 1: "x2", 2: "x3"})
df

            x1          x2          x3
0    95.522592  102.752052   95.313990
1   102.316083  122.812376   98.091399
2   104.979693   92.705201  107.662425
3    85.845280   85.512590   97.797006
4    91.918918  115.025399   96.119700
5   103.637559   95.270648  101.000395
6    88.211935  105.830095  113.589794
7    96.079781  104.204746  101.435353
8    90.965041  101.861012   91.211091
9   106.305815  103.892968  104.179391
10  102.602259   85.166578  111.554243
11  111.305145   90.799457  101.735285
12   78.006128  105.230065   84.575929
13   87.434956   96.349788   94.827584
14  105.887978  101.194851  116.552965
15  102.855937   82.083751  109.097001
16   97.634470  100.029212  101.629983
17   85.653355   85.894551   93.380762
18  115.155026   68.401672  101.413667
19   90.558477  109.812718  101.209623

In [27]:
df.index = np.arange(1, len(df) + 1)
df

            x1          x2          x3
1    95.522592  102.752052   95.313990
2   102.316083  122.812376   98.091399
3   104.979693   92.705201  107.662425
4    85.845280   85.512590   97.797006
5    91.918918  115.025399   96.119700
6   103.637559   95.270648  101.000395
7    88.211935  105.830095  113.589794
8    96.079781  104.204746  101.435353
9    90.965041  101.861012   91.211091
10  106.305815  103.892968  104.179391
11  102.602259   85.166578  111.554243
12  111.305145   90.799457  101.735285
13   78.006128  105.230065   84.575929
14   87.434956   96.349788   94.827584
15  105.887978  101.194851  116.552965
16  102.855937   82.083751  109.097001
17   97.634470  100.029212  101.629983
18   85.653355   85.894551   93.380762
19  115.155026   68.401672  101.413667
20   90.558477  109.812718  101.209623

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [28]:
# seu código aqui
df['media'] = (df['x1'] + df['x2'] + df['x3']) / 3
df

            x1          x2          x3       media
1    95.522592  102.752052   95.313990   97.862878
2   102.316083  122.812376   98.091399  107.739953
3   104.979693   92.705201  107.662425  101.782440
4    85.845280   85.512590   97.797006   89.718292
5    91.918918  115.025399   96.119700  101.021339
6   103.637559   95.270648  101.000395   99.969534
7    88.211935  105.830095  113.589794  102.543941
8    96.079781  104.204746  101.435353  100.573294
9    90.965041  101.861012   91.211091   94.679048
10  106.305815  103.892968  104.179391  104.792724
11  102.602259   85.166578  111.554243   99.774360
12  111.305145   90.799457  101.735285  101.279962
13   78.006128  105.230065   84.575929   89.270708
14   87.434956   96.349788   94.827584   92.870776
15  105.887978  101.194851  116.552965  107.878598
16  102.855937   82.083751  109.097001   98.012230
17   97.634470  100.029212  101.629983   99.764555
18   85.653355   85.894551   93.380762   88.309556
19  115.155026   68.401672  101.413667   94.990122
20   90.558477  109.812718  101.209623  100.526939

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [30]:
# seu código aqui
df['log_med'] = np.log(df['media'])
df

            x1          x2          x3       media   log_med
1    95.522592  102.752052   95.313990   97.862878  4.583567
2   102.316083  122.812376   98.091399  107.739953  4.679720
3   104.979693   92.705201  107.662425  101.782440  4.622838
4    85.845280   85.512590   97.797006   89.718292  4.496675
5    91.918918  115.025399   96.119700  101.021339  4.615332
6   103.637559   95.270648  101.000395   99.969534  4.604865
7    88.211935  105.830095  113.589794  102.543941  4.630291
8    96.079781  104.204746  101.435353  100.573294  4.610887
9    90.965041  101.861012   91.211091   94.679048  4.550493
10  106.305815  103.892968  104.179391  104.792724  4.651984
11  102.602259   85.166578  111.554243   99.774360  4.602911
12  111.305145   90.799457  101.735285  101.279962  4.617889
13   78.006128  105.230065   84.575929   89.270708  4.491673
14   87.434956   96.349788   94.827584   92.870776  4.531209
15  105.887978  101.194851  116.552965  107.878598  4.681007
16  102.855937   82.083751  109.097001   98.012230  4.585092
17   97.634470  100.029212  101.629983   99.764555  4.602813
18   85.653355   85.894551   93.380762   88.309556  4.480848
19  115.155026   68.401672  101.413667   94.990122  4.553773
20   90.558477  109.812718  101.209623  100.526939  4.610426